In [10]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

## データの情報を見る

In [11]:
train_df = pd.read_csv("../data/train.csv")
test_df = pd.read_csv("../data/test.csv")
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3672 entries, 0 to 3671
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             3672 non-null   int64
 1   match_date     3672 non-null   object
 2   kick_off_time  3672 non-null   object
 3   section        3672 non-null   object
 4   round          3672 non-null   object
 5   home_team      3672 non-null   object
 6   away_team      3672 non-null   object
 7   venue          3672 non-null   object
 8   weather        3672 non-null   object
 9   temperature    3672 non-null   float64
 10  humidity       3672 non-null   int64
 11  broadcasters   3672 non-null   object
 12  attendance     3672 non-null   int64
dtypes: float64(1), int64(3), object(9)
memory usage: 373.1+ KB

In [12]:
venue_info_df = pd.read_csv("../data/venue_information.csv")
# venue_info_df.head(5)
venue_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   venue     120 non-null    object
 1   capacity  120 non-null    int64
 2   address   120 non-null    object
dtypes: int64(1), object(2)
memory usage: 2.9+ KB

In [13]:
match_reports_df = pd.read_csv("../data/match_reports.csv")
# match_reports_df.head()
match_reports_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4284 entries, 0 to 4283
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  4284 non-null   int64
 1   home_team_player11  4284 non-null   object
 2   home_team_player10  4284 non-null   object
 3   home_team_player9   4284 non-null   object
 4   home_team_player8   4284 non-null   object
 5   home_team_player7   4284 non-null   object
 6   home_team_player6   4284 non-null   object
 7   home_team_player5   4284 non-null   object
 8   home_team_player4   4284 non-null   object
 9   home_team_player3   4284 non-null   object
 10  home_team_player2   4284 non-null   object
 11  home_team_player1   4284 non-null   object
 12  home_team_score     4284 non-null   int64
 13  away_team_score     4284 non-null   int64
 14  away_team_player1   4284 non-null   object
 15  away_team_player2   4284 non-null   object
 16  away_team_player3   4284 non-null   object
 17  away_team_player4   4284 non-null   object
 18  away_team_player5   4284 non-null   object
 19  away_team_player6   4284 non-null   object
 20  away_team_player7   4284 non-null   object
 21  away_team_player8   4284 non-null   object
 22  away_team_player9   4284 non-null   object
 23  away_team_player10  4284 non-null   object
 24  away_team_player11  4284 non-null   object
dtypes: int64(3), object(22)
memory usage: 836.8+ KB

In [14]:
holidaysinjapan_df = pd.read_csv("../data/holidays_in_japan.csv")
holidaysinjapan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   holiday_date  245 non-null    object
 1   description   245 non-null    object
dtypes: object(2)
memory usage: 4.0+ KB

In [15]:
train_df = pd.read_csv("../data/train.csv")
venue_info_df = pd.read_csv("../data/venue_information.csv")
match_reports_df = pd.read_csv("../data/match_reports.csv")
holidaysinjapan_df = pd.read_csv("../data/holidays_in_japan.csv")

train_df = train_df.merge(venue_info_df, how="left", on="venue")
train_df = train_df.merge(match_reports_df, how="left", on="id")
train_df = train_df.merge(holidaysinjapan_df, how="left", left_on="match_date", right_on="holiday_date")
test_df = test_df.merge(venue_info_df, how="left", on="venue")
test_df = test_df.merge(match_reports_df, how="left", on="id")
test_df = test_df.merge(holidaysinjapan_df, how="left", left_on="match_date", right_on="holiday_date")
# train_df.info()
display(train_df.isnull().sum())
display(test_df.isnull().sum())

id                       0
match_date               0
kick_off_time            0
section                  0
round                    0
home_team                0
away_team                0
venue                    0
weather                  0
temperature              0
humidity                 0
broadcasters             0
attendance               0
capacity                 0
address                  0
home_team_player11       0
home_team_player10       0
home_team_player9        0
home_team_player8        0
home_team_player7        0
home_team_player6        0
home_team_player5        0
home_team_player4        0
home_team_player3        0
home_team_player2        0
home_team_player1        0
home_team_score          0
away_team_score          0
away_team_player1        0
away_team_player2        0
away_team_player3        0
away_team_player4        0
away_team_player5        0
away_team_player6        0
away_team_player7        0
away_team_player8        0
away_team_player9        0
away_team_player10       0
away_team_player11       0
holiday_date          3387
description           3387
dtype: int64

id                      0
match_date              0
kick_off_time           0
section                 0
round                   0
home_team               0
away_team               0
venue                   0
weather                 0
temperature             0
humidity                0
broadcasters            0
capacity                0
address                 0
home_team_player11      0
home_team_player10      0
home_team_player9       0
home_team_player8       0
home_team_player7       0
home_team_player6       0
home_team_player5       0
home_team_player4       0
home_team_player3       0
home_team_player2       0
home_team_player1       0
home_team_score         0
away_team_score         0
away_team_player1       0
away_team_player2       0
away_team_player3       0
away_team_player4       0
away_team_player5       0
away_team_player6       0
away_team_player7       0
away_team_player8       0
away_team_player9       0
away_team_player10      0
away_team_player11      0
holiday_date          570
description           570
dtype: int64

In [21]:
train_df.to_csv("../function_data/train.csv", index=False)
test_df.to_csv("../function_data/test.csv", index=False)

In [18]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3672 entries, 0 to 3671
Data columns (total 41 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  3672 non-null   int64
 1   match_date          3672 non-null   datetime64[ns]
 2   kick_off_time       3672 non-null   object
 3   section             3672 non-null   object
 4   round               3672 non-null   object
 5   home_team           3672 non-null   object
 6   away_team           3672 non-null   object
 7   venue               3672 non-null   object
 8   weather             3672 non-null   object
 9   temperature         3672 non-null   float64
 10  humidity            3672 non-null   int64
 11  broadcasters        3672 non-null   object
 12  attendance          3672 non-null   int64
 13  capacity            3672 non-null   int64
 14  address             3672 non-null   object
 15  home_team_player11  3672 non-null   object
 16  home_team_player10  3672 non-null   object
 17  home_team_player9   3672 non-null   object
 18  home_team_player8   3672 non-null   object
 19  home_team_player7   3672 non-null   object
 20  home_team_player6   3672 non-null   object
 21  home_team_player5   3672 non-null   object
 22  home_team_player4   3672 non-null   object
 23  home_team_player3   3672 non-null   object
 24  home_team_player2   3672 non-null   object
 25  home_team_player1   3672 non-null   object
 26  home_team_score     3672 non-null   int64
 27  away_team_score     3672 non-null   int64
 28  away_team_player1   3672 non-null   object
 29  away_team_player2   3672 non-null   object
 30  away_team_player3   3672 non-null   object
 31  away_team_player4   3672 non-null   object
 32  away_team_player5   3672 non-null   object
 33  away_team_player6   3672 non-null   object
 34  away_team_player7   3672 non-null   object
 35  away_team_player8   3672 non-null   object
 36  away_team_player9   3672 non-null   object
 37  away_team_player10  3672 non-null   object
 38  away_team_player11  3672 non-null   object
 39  holiday_date        285 non-null    object
 40  description         285 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(6), object(33)
memory usage: 1.2+ MB